<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form action="/blog/form/" method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="title">
        </div>
        <div>
            <select name="type">
                <option value="attr">blog attr</option>
                <option value="size">blog size</option>
                <option value="border">blog border</option>
            </select>
        </div>
        <div>
            <textarea name="note" cols="80" rows="10"></textarea>
        </div>
        <div>
            성별 :
            <input type="radio" name="gender" value="m">남자
            <input type="radio" name="gender" value="w">여자 
        </div>
        <div>
            활용목적 :
            <input type="checkbox" name="purpose" value="a">학습
            <input type="checkbox" name="purpose" value="a">직무
        </div>
        <div>
            <button type="submit">submit</submit>
        </div>
    </form>
</body>
</html>