<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ data.item }} 삭제</title>
</head>
<body>
    <form action="/myacc/delete/" method="POST"> {% csrf_token %}
        <div><input type="hidden" name="id" value="{{ data.id }}"></div>
        <div>
            <table border="2">
                <tr>
                    <th>날짜</th>
                    <th>개수</th>
                    <th>{% if data.inc %}수입{% elif data.outc %}지출{% endif %}</th>
                </tr>
                <tr>
                    <td>{{ data.date | date:'Y년 m월 d일' }}</td>
                    <td>{{ data.count }}</td>
                    <td>{% if data.inc %}{{ data.inc }}{% elif data.outc %}{{ data.outc }}{% endif %}</td>
                </tr>
            </table>
        </div>
        <div>
            <button type="submit">삭제</button>
            <button type="button" onclick="location.href='/myacc/view/?id={{ data.id }}'">취소</button>
    </form>
</body>
</html>