<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Account</title>
</head>
<body>
    <div>
        <button type="button" onclick="location.href='/myacc/insert/'">추가</button>
    </div>
    <form action="/myacc/" method="GET">
        <select name="type">
            <option value='all'>전체</option>
            <option value='in' {% if type == 'in' %}selected{% endif %}>수입</option>
            <option value='out' {% if type == 'out' %}selected{% endif %}>지출</option>
        </select>
        <input type="number" name="amount" value="{{ amount }}">
        <button type="submit">조회</button>
    </form>
    <!--<button type="button" onclick="location.href='/myacc/'">전체</button>
    <button type="button" onclick="location.href='/myacc/?type=in'">수입</button>
    <button type="button" onclick="location.href='/myacc/?type=out'">지출</button>
    <button type="button" onclick="location.href='/myacc/'">전체</button>
    <button type="button" onclick="location.href='/myacc/in/'">수입</button>
    <button type="button" onclick="location.href='/myacc/out/'">지출</button>-->
    <table border='2'>
        <tr>
            <th>번호</th>
            <th>품목</th>
            <th>수입</th>
            <th>지출</th>
            <th>개수</th>
            <th>날짜</th>
        </tr>
        {% for row in datas %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.item }}</td>
                <td style="color:red">{{ row.inc }}</td>
                <td>{{ row.outc }}</td>
                <td>{{ row.count }}</td>
                <td>{{ row.date }}</td>
            </tr>
        {% endfor %}
    </table>

    {% for row in datas %}
    번호 {{ row.id }}
    품목 {{ row.item }}
    수입 {{ row.inc }}
    지출 {{ row.outc }}
    개수 {{ row.count }}
    날짜 {{ row.date }}
    <br>
    {% endfor %}
</body>
</html>