<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Printing</title>
</head>
<body>
    <table border='2'>
        <tr>
            <th>번호</th>
            <th>품목</th>
            <th>수입</th>
            <th>지출</th>
            <th>개수</th>
            <th>날짜</th>
        </tr>
        {% for row in datas %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.item }}</td>
                <td style="color:red">{{ row.inc }}</td>
                <td>{{ row.outc }}</td>
                <td>{{ row.count }}</td>
                <td>{{ row.date }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>