<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ data.item}}</title>
</head>
<body>
    <h1>{{ data.item }}</h1>
    <div>
        <table border="2">
            <tr>
                <th>날짜</th>
                <th>개수</th>
                <th>{% if data.inc %}수입{% elif data.outc %}지출{% endif %}</th>
            </tr>
            <tr>
                <td>{{ data.date | date:'Y년 m월 d일' }}</td>
                <td>{{ data.count }}</td>
                <td>{% if data.inc %}{{ data.inc }}{% elif data.outc %}{{ data.outc }}{% endif %}</td>
            </tr>
        </table>
    </div>
    <div>
        <button type="button" onclick="location.href='/myacc/update/?id={{ data.id }}'">수정</button>
        <button type="button" onclick="location.href='/myacc/delete/?id={{ data.id }}'">삭제</button>
        <button type="button" onclick="location.href='/myacc/'">목록</button>
    </div>
</body>
</html>